/* Header, Body, Text */

body { 
  font-family: 'Questrial', sans-serif;
}

#header {
  background-image:url('Skeleton/images/DSC01194.JPG');
  background-size:cover;
  min-height:500px;
}

#header1 {
	background-image:url('Skeleton/images/TokyoSkyline.png');
	background-size: cover;
	min-height: 700px;

}

#header2 {
	background-image:url('Skeleton/images/Shibuya.jpg');
	background-size: cover;
	min-height: 500px;
}

.paragraph {
	font-family: 'Muli', sans-serif;
}

#title1 {
	font-size: 45px;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 50px;
	color: #000;
  font-family: 'Questrial', sans-serif;
}

#title2 {
	font-size: 40px;
	font-weight: bold;
	margin: auto;
	color: #000;
}

#title3 {
  font-size: 45px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: #000;
  font-family: 'Questrial', sans-serif;
}

#outlinetext {
	font-size: 45px;
	font-weight: bold;
	color: red;
}

#credit {
	font-size: 30px;
	font-style: italic;
	color: #000;
	margin-left: 725px;
}

#credit2 {
	font-size: 20px;
	font-style: italic;
	color: #c64747;
}

.icontext {
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	color: #000;
	margin-bottom: 60px;
}



/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

nav {
  padding-right:20px;
  padding-top:30px;
  text-align:right;
  z-index: 3;
  font-weight: none;
}

nav a {
  text-decoration:none;
  color: #fff;
  padding-left:10px;
}

nav a:hover {
  color: #c64747;
}

/* nav hr {
  padding:10px;
} */

.longline {
  margin-left:25px;
  margin-right:25px;
}

/* Logo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#logo {
  padding-left:20px;
  padding-top:20px;
  width:10%;
  display:inline-block;
  position:absolute;
  z-index:2;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
	text-align: center;
}

#footerlogo {
	width: 100px;
	height: 60px;
	margin-top: 40px;
	margin-bottom: 5px;
}

#footertext {
	margin-bottom: 40px;
	font-family: 'Muli', sans-serif;
	font-size: 12px;
	color: darkgrey;
}

/* Tagline
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#tagline {
  text-align:center;
  z-index: 3;
  color:#fff;
  padding-top:125px;
  font-size:60px;
  font-weight: bold;
}

#tagline1 {
  text-align:center;
  z-index: 3;
  color:#fff;
  padding-top:140px;
  font-size:60px;
  font-weight: bold;
}

.shortline {
  margin-left:300px;
  margin-right:300px;
}

/* Clear
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.clear {
  margin-top:20px;
}

/* Background Image
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.background.image {
  width:100%;
  margin-top:0px;
}

/* Image Gallery
–––––––––––––––––––––––––––––––––––––––––––––––––– */


#slideshowImage {
  width:100%;
}

.imagegallery {
  height:450px;
  overflow:hidden;
  position:relative;
}

.leftarrow {
  position:absolute;
  left:20px;
  top:40%;
  font-size:100px;
  line-height:80px;
}

.rightarrow {
  position:absolute;
  right:20px;
  top:40%;
  font-size:100px;
  line-height:80px;
}

.caption {
  position:absolute;
  bottom:0%;
  font-size: 14px;
  color:#fff;
  background-color: rgba(0,0,0,0.7);
  width:100%;
  padding:10px;
  padding-left:30px;
}
